.flagicon {
  float: right;
  margin-right: 1em;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: grey !important;
}

.pagination {
  margin-top: 2em;
}

.active {
  font-weight: bold;
}

.reportForm {
  height: 3em;
}

a:hover {
   cursor: pointer;
   text-decoration: underline;
}

.page {
  display: inline-block;
  list-style-type: none;
  padding-right: 20px !important;
}

.pageList{
  text-align: center;
}
